<html>
  <head>
    <title>Navigator Demo</title>
    <script type="text/javascript" src="/sluice/javascript/vendor/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/sluice/javascript/vendor/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="/sluice/javascript/vendor/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/sluice/javascript/vendor/underscore.js"></script>

    <!-- D3 stuff -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v0.min.js"></script>
    
    {{ jsplasma | safe }}

    <script src="{{url_for('navigator.static', filename='js/locinfo.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('navigator.static', filename='css/style.css')}}"/>
  </head>

  <body>
    <h1>Browser Bounds</h1>
    <p><b>Browser Name:</b> <span id="browser"/></p>

    <table>
      <tr>
        <td></td>
        <td>Longitude</td>
        <td>Latitude</td>
      </tr>

      <tr>
        <td>Upper left</td>
        <td><span id="minlon"/></td>
        <td><span id="minlat"></td>
      </tr>

      <tr>
        <td>Bottom right</td>
        <td><span id="maxlon"/></td>
        <td><span id="maxlat"></td>
      </tr>
  </body>

</html>
