.map {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-opacity: 1;
  stroke-width: .5px;
}

.land {
  fill: black;
}

.boundary {
  fill: black;
  stroke: black;
  stroke-width: 0px;

svg {
    margin: 0 auto;
}

path {
  stroke: white;
  stroke-width: 0.1px;
  fill: black;
}